body{
   background-image: url(../images/bg.jpg);
   background-size: 100%;
   color: white;
}

.top{
    min-height: 80px;
    background-color: white;
    margin-bottom: 50px;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    max-height: 75px;
    margin-top: 5px;
}

.right{
    float:right;
}
.active{
   background-color: black !important;
}
.right li{
    display: inline;
    padding: 20px 10px;
}

.center{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.gallery li {
   width: 20%;
   display: inline-block;
   margin-right: 5px;
}

.gallery img{
   border: 3px solid white;
}

.scale {
transition: 1s;
}

.scale:hover {
transform: scale(1.5);
}

.container-fluid .row{
    color: white;
    margin: 0 auto;
    width: 70%;
}

.container div{
    padding: 10px;
    display: inline-table;
    width: 48%;
}

button{
    background-color: black;
    border-radius: 20px;
    border: none;
    padding: 8px 21px;
}

button a{
    text-decoration: none;
    color: white;
}
footer {
    margin-top: 10px;
}

