<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фильмы - главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div class="top">
    <div class="main">
        <a href="index.html"><img src="static/images/logo.png" alt="logo" class="logo"/></a>
        <ul class="nav nav-pills right">
            <li class="nav-item"><a class="nav-link active" href="/">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/films">Фильмы</a></li>
            <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
        </ul>
    </div>
</div>


<h1 class="center">Мои топ фильмов</h1>
<div>
    <ul class="gallery center">
        <li><h3>Аватар</h3><img class="img-fluid scale" src="static/images/avatar.jpg" alt="avatar"/></li>
        <li><h3>Звездные войны</h3><img class="img-fluid scale" src="static/images/starwars.jpg" alt="starwars"/></li>
        <li><h3>Матрица</h3><img class="img-fluid scale" src="static/images/matrix.jpg" alt="matrix"/></li>
        <li><h3>Форсаж</h3><img class="img-fluid scale" src="static/images/forsazh.jpg" alt="forsazh"/></li>
    </ul>
</div>

<footer class="modal-footer">
    <p>Все права защищены &copy; Амелькович Роман, 2023 </p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>